@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.testimonial .image {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 100% center;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.slide p {
    text-align: center;
    padding: 0 100px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.details .job {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

.nav-btn {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transform: translateY(30px);
    background: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.nav-btn:hover {
    background: rgba(0, 0, 0, 0.1);
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .slide p {
        padding: 0 20px;
    }

    .nav-btn {
        display: none;
    }
}